src/test/resources/couchdb-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:couchdb="http://www.mulesoft.org/schema/mule/couchdb"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
        http://www.mulesoft.org/schema/mule/couchdb http://www.mulesoft.org/schema/mule/couchdb/3.5/mule-couchdb.xsd">

    <!--
        Declare one flow like this one per element you add in your schema.

        See the comment in CouchDBNamespaceHandlerTestCase for an example how to send
        Mule events directly to this flow.

    <flow name="theFlow">
        <couchdb:operation parameter="#[payload]"/>
    </flow>
     -->
</mule>
